.footer_main{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    padding:30px 20px;
}
.footer1{
    flex:0.3;
    margin-right: 50px;
    margin-bottom: 30px;
}
.footer2{
    flex:0.3;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.footer2 h2{
    text-align: left;
    margin-left: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}
.footer2sub{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.footer2subb{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    text-align: left;
}
.footer2subbb{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    text-align: left;
}
.footer3{
    flex:0.3;
    text-align: left;
    margin-left: 50px;
}
.footer3 h2{
    text-align: left;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}
.footer_icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    font-size:30px;
    margin-top: 30px;
}